<!DOCTYPE html>
<html>
	<head>
	
		<title>686 Tees</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta charset="UTF-8" />
		
		<!-- Bootstrap -->
		<link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen" />
		
		<!-- Fonts -->
		<link href="http://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" type="text/css" />
		<link href="assets/css/entypo.css" rel="stylesheet" type="text/css" />
		
		<!-- Template CSS -->
		<link href="assets/css/686tees.css" rel="stylesheet" type="text/css" />
		
	</head>
<body>

<div class="container">
	
	<!-- Site Top -->
	
	<div class="row">
	
		<div class="span12">
		
			<ul class="top-nav">
				<li><a href="login.html">Login</a></li>
				<li><a href="register.html">Registration</a></li>
				<li><a href="forgot.html">Lost your password?</a></li>
			</ul>
		
		</div>
	
	</div>
	
	<!-- Header -->
	
	<div class="row">
	
		<div class="span4">
		
			<p class="logo">
				<span class="entypo heart"></span> 686 Tees
			</p>
		
		</div>
	
		<div class="span4">
		
			<p class="strapline">
				The finest quality stylish tees<br />
				<span>Made with love here in the UK</span>
			</p>
		
		</div>
	
		<div class="span4">
			
			<div class="row">
				
				<div class="span2 offset2 mini-basket">
					
					<p class="mini-basket-title"><a href="basket.html"><span class="entypo cart"></span> Basket</a></p>
					
					<div class="row">
						
						<div class="span1">
							<p class="mini-basket-summary">
								Price<br />
								<span>&pound;0.00</span>
							</p>
						</div>
					
						<div class="span1">
							<p class="mini-basket-summary">
								Items<br />
								<span>0</span>
							</p>
						</div>
					
					</div>
					
				</div>
			
			</div>
			
		</div>
	
	</div>
	
	<!-- Menu -->
	
	<div class="row">
		
		<div class="span12">
		
			<ul class="main-nav clearfix">
			
				<li><a href="index.html">New</a></li>
				<li><a href="products-men.html">Men's</a></li>
				<li><a href="products-women.html">Women's</a></li>
			
			</ul>
		
		</div>
		
	</div>

	<!-- Content -->
	
	<div class="row">
		
		<div class="span12">
			
			<div class="content-box">
			
				<h1>Content Template</h1>
			
				<h2>h2 subtitle</h2>
				
				<p>Aenean sit amet gravida sem, eu viverra diam. Integer nisl lorem, posuere in sagittis sit amet, scelerisque nec purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras mollis sem nibh, ut euismod elit lobortis a. Curabitur blandit leo in mollis rutrum. Proin sodales neque eu lacus porttitor, et malesuada risus scelerisque. Sed aliquam mi nec accumsan ornare. Nullam egestas euismod tellus. Nunc lacinia laoreet enim quis consectetur. Integer faucibus sapien nec interdum eleifend.</p>
				
				<h3>h3 subtitle</h3>
				
				<ul>
					<li>Aenean sit amet gravida sem, eu viverra diam.</li>
					<li>Integer nisl lorem, posuere in sagittis sit amet, scelerisque nec purus.</li>
					<li>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</li>
					<li>Cras mollis sem nibh, ut euismod elit lobortis a.</li>
					<li>Curabitur blandit leo in mollis rutrum.</li>
					<li>Proin sodales neque eu lacus porttitor, et malesuada risus scelerisque.</li>
					<li>Sed aliquam mi nec accumsan ornare.</li>
					<li>Nullam egestas euismod tellus.</li>
					<li>Nunc lacinia laoreet enim quis consectetur.</li>
					<li>Integer faucibus sapien nec interdum eleifend.</li>
				</ul>
				
				<h4>h4 subtitle</h4>
			
				<p>Aenean sit amet gravida sem, eu viverra diam. Integer nisl lorem, posuere in sagittis sit amet, scelerisque nec purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras mollis sem nibh, ut euismod elit lobortis a. Curabitur blandit leo in mollis rutrum. Proin sodales neque eu lacus porttitor, et malesuada risus scelerisque. Sed aliquam mi nec accumsan ornare. Nullam egestas euismod tellus. Nunc lacinia laoreet enim quis consectetur. Integer faucibus sapien nec interdum eleifend.</p>
				
				<ol>
					<li>Aenean sit amet gravida sem, eu viverra diam.</li>
					<li>Integer nisl lorem, posuere in sagittis sit amet, scelerisque nec purus.</li>
					<li>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</li>
					<li>Cras mollis sem nibh, ut euismod elit lobortis a.</li>
					<li>Curabitur blandit leo in mollis rutrum.</li>
					<li>Proin sodales neque eu lacus porttitor, et malesuada risus scelerisque.</li>
					<li>Sed aliquam mi nec accumsan ornare.</li>
					<li>Nullam egestas euismod tellus.</li>
					<li>Nunc lacinia laoreet enim quis consectetur.</li>
					<li>Integer faucibus sapien nec interdum eleifend.</li>
				</ol>
				
				<h5>h5 subtitle</h5>
				
				<table>
					<tr>
						<th>Delivery Method</th>
						<th>Price</th>
					</tr>
					<tr>
						<td>Standard (3-4 working days)</td>
						<td>FREE</td>
					</tr>
					<tr>
						<td>Express (1-2 working days)</td>
						<td>&pound;4.99</td>
					</tr>
					<tr>
						<td>Worldwide Standard (3-7 working days)</td>
						<td>&pound;4.99</td>
					</tr>
					<tr>
						<td>Worldwide Express (3-4 working days)</td>
						<td>&pound;8.99</td>
					</tr>
				</table>
			
			</div>
			
		</div>
		
	</div>
	
	<div class="row footer">
	
		<div class="span6">
		
			<ul class="footer-nav">
				<li><a href=""><img src="assets/flags/gb.png" alt="GBP" /></a> &nbsp; <a href=""><img src="assets/flags/us.png" alt="USD" /></a> &nbsp; <a href=""><img src="assets/flags/europeanunion.png" alt="Euro" /></a></li>
				<li><a href="content.html">Terms &amp; Conditions</a></li>
				<li><a href="content.html">Delivery Information</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		
		</div>
	
		<div class="span6 footer-right">
		
			<p>
				&copy; 686 Tees
			</p>
		
		</div>
	
	</div>
	
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

</body>
</html>